<configuration>
    <system.webServer>
        <handlers>
    
            <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
        </handlers>
        <compilation debug="true" targetFramework="4.5" />
       <httpRuntime targetFramework="4.5" requestPathInvalidCharacters="" />
        <customErrors mode="Off" />
        <httpErrors errorMode="Detailed"></httpErrors>
        </system.webServer>
</configuration>